@page "/"

<h1>Roll Your Stats</h1>

<button class="btn btn-primary" @onclick="rollStats">Roll Out</button>
<br />
<br />
<p>@currentStats[0]</p>
<p>@currentStats[1]</p>
<p>@currentStats[2]</p>
<p>@currentStats[3]</p>
<p>@currentStats[4]</p>
<p>@currentStats[5]</p>

@code {
    int[] currentStats = { 0, 0, 0, 0, 0, 0 };

    void rollStats()
    {

        currentStats = currentStats.Select(x => x = diceArray()).ToArray();
    }

    int diceArray()
    {     

        int[] rolledDice = new int[] { new Random().Next(1,7), new Random().Next(1,7), new Random().Next(1,7), new Random().Next(1,7) };

        Array.Sort(rolledDice);
        Array.Reverse(rolledDice);

        return rolledDice[0..3].Sum();
    }

}
